<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.fileupload3.mapper.FileMapper">
    <select id="findId" resultType="com.example.fileupload3.domain.Item">
        select * from
    </select>
</mapper>