<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Spring Security Login page</h1>
<div th:if="${param.error}">Invalid username and password.</div>
<div th:if="${param.logout}">You have been logged out.</div>
<form action="/user/login" name="login" method="post">
    <input id="userId" type="text" name="userId" placeholder="아이디를 입력하세요">
    <input id="userPw" type="password" name="userPw" placeholder="비밀번호를 입력하세요">
    <button class="btnLogin" type="submit" value="로그인" >로그인 </button>
</form>
</body>
</html>