<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<h1>Save</h1>
<form action="/user/save" name="save" method="post">
  <div>
    <label for="userEmail">
      <input type="text" id="userEmail" name="userEmail" placeholder="아이디를 입력하세요">
    </label>
  </div>
  <div>
    <label for="userPw">
      <input type="text" id="userPw" name="userPw" placeholder="비밀번호를 입력하세요">
    </label>
  </div>
  <div>
    <label for="userName">
      <input type="text" id="userName" name="userName" placeholder="이름을 입력하세요">
    </label>
  </div>
  <div>
    <button type="submit" value="회원가입" class="btnSignUp">회원가입 </button>
  </div>
</form>
</body>
</html>