<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" href="#">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="/css/main.css"/>
    <style>
        #banner input, #banner select, #banner option {
            color: #000000;
        }

        select {
            width: 15%;
            text-align: center;
            padding: 9px;
            display: inline;
        }

        #keyword {
            width: 55%;
            display: inline;
        }

        #keyword + a {
            border: 1px solid #fff;
        }

        th, td {
            text-align: center !important;
        }
    </style>
</head>
<body class="is-preload">
<!-- header -->
<header id="header" class="alt">
    <a class="logo" href="/">Boot<span>Board</span></a>
    <nav id="nav">
        <ul>
            <th:block th:if="${loginUser == null}">
                <li><a th:action="@{/}">Home</a></li>
                <li><a th:action="@{/user/signUp.html}">Join</a></li>
                <li><a th:action="@{/user/login.html}">Login</a></li>
            </th:block>
            <th:block th:unless="${loginUser == null}">
                <li><span th:text="${loginUser}"></span>님 어서오세요</li>
                <li class="current"><a href="/">Home</a></li>
                <li><a href="/board/list">Board</a></li>
                <li><a href="/board/logout">Logout</a></li>
                <li></li>
            </th:block>
        </ul>
    </nav>
</header>

<!-- Banner -->
<div id="banner">
    <div class="wrapper style1 special">
        <div class="inner">
            <h1 class="heading alt">Board</h1>
            <p>게시판 목록</p>
            <a href="#" class="button primary"
               style="float: right; border-bottom: 1px solid #fff; border-radius: 0px; border-top: 1px solid #fff">글
                등록 </a>
            <div class="table-wrapper" style="clear: both">
                <table>
                    <thead>
                    <tr>
                        <th style="width: 10%;">번호</th>
                        <th style="width: 40%">제목</th>
                        <th style="width: 15%;">작성자</th>
                        <th style="width: 35%;">작성시간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- th:block은 반복문이나 조건문 돌릴 때 자주사용한다.-->
                    <th:block th:if="${list} != null and ${list.size()}>0">
                        <!--list : ${list} 이렇게하면 model에 입력했던 것을 내가 정한 이름으로 줄 수 있다.
                          예를들어, BoardController에 list로 주어진 모델에 getList로 board를 볼 수 있게
                          넣어놨다. 모델 키값은 현재 list에서 list : ${키값}으로 다시 list를 줬지만
                          다른 이름으로도 할 수 있다.-->
                        <tr th:each="list : ${list}">
                            <td>${list.boardNum}</td>
                            <td><a th:href="@{list.boardNum}">${list.boardTitle}</a></td>
                            <td>${list.userId}</td>
                            <td>${list.regDate}
                                <th:block th:if="${list.regDate} != list.updateDate">
                                    (${list.updateDate})
                                </th:block>
                            </td>
                        </tr>
                    </th:block>
                    <th:block th:unless="${list} != null and ${list.size()}>0">
                        <tr>
                            <td colspan="5">작성된 게시글이 없습니다.</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <form id="searchForm" action="/board/list" onsubmit="return sendit()">
                <div>
                    <select name="type">
                        <option value="" >검색</option>
                        <option value="T">제목</option>
                        <option value="C">내용</option>
                        <option value="W">작성자</option>
                        <option value="TC">제목 또는 내용</option>
                        <option value="TW">제목 또는 작성자</option>
                        <option value="TCW">제목 또는 내용 또는 작성자</option>
                    </select>
                    <input type="text" name="keyword" id="keyword">
                    <a href="#" class="button primary">검색</a>
                </div>
                <input type="hidden" value="1" name="pageNum">
                <input type="hidden" value="10" name="amount">
            </form>
            <div class="pagination center">
                <th:block th:if="${pageMaker.prev}">
                    <a class="changePage" th:href="@{pageMaker.startPage -1}"><code>&lt</code></a>
                </th:block>
                <!--
                    여기에서 페이지 할것을 구현해야 합니다.
                    타임리프로 구현해야 하는데 하는법을 모르겠음...
                    나중에 구현하고 일단은 백쪽 구현
                -->
            </div>
            <div>
                <code>&lt;</code>
                <code>1</code>
                <code>2</code>
                <code>3</code>
                <code>4</code>
                <code>5</code>
                <code>&gt;</code>
            </div>
        </div>
    </div>
</div>
<form name="pageForm" id="pageForm" action="/board/list">
    <input type="hidden" th:value="${pageMaker.cri.pageNum}" name="pageNum" />
    <input type="hidden" th:value="${pageMaker.cri.amount}" name="amount" />
    <input type="hidden" th:value="${pageMaker.cri.type}" name="type" />
    <input type="hidden" th:value="${pageMaker.cri.keyword}" name="keyword" />
</form>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
    const pageForm = $("#pageForm");
    const searchForm = $("#searchForm")
    // const pageForm = document.pageForm;
    $(".get").on("click", function (e) {
        // e(애벤트)의 기본 작동 막기
        e.preventDefault();
        // 선택한 요소의 속성의 값을 가져온다.
        let boardNum = $(this).attr("href");
        //              <input type='hidden' name='boardNum' value='542780'
        pageForm.append("<input type='hidden' name='boardNum' value='"+boardNum+"'>");

        // jQuery 요소 일때는
        pageForm.attr("action","/board/get")

        // 바닐라 요소 일 때는
        // pageForm.setAttribute("action", "/board/get")
        pageForm.submit();
    })
    $(".changePage").on("click", function (e) {
        e.preventDefault();
        let pageNum = $(this).attr("href");
        pageForm.find("input[name='pageNum']").val(pageNum);
        pageForm.submit();
    })
    $("#searchForm a").on("click", sendit)
      function sendit(e) {
       // 검색조건을 아무것도 선택을 안했을 때
        /*
        *   if("") → if(false)
        * */
        if(!searchForm.find("option:selected").val()) {
            alert("검색 기준을 선택하세요")
            return false;
        }
        if(!searchForm.find("input[name='keyword']").val()) {
            alert("키워드를 선택하세요")
            return false;
        }
        if(searchForm.find("input[name='keyword']").val().length < 2) {
            alert("두 글자 이상 입력하세요")
            return false;
        }
        searchForm.submit();
    }
</script>
</body>
</html>