<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/members/signUp" id="signUp" class="signUp" name="signUp" method="post">
        <div>
            <label for="userId">
                <input type="text" id="userId" name="userId">
            </label>
        </div>
        <div>
            <label for="userPw">
                <input type="password" id="userPw" name="userPw">
            </label>
        </div>
        <div>
            <label for="userName">
                <input type="text" id="userName" name="userName">
            </label>
        </div>
        <div>
            <input type="submit" value="회원가입">
        </div>
    </form>
</body>
</html>